@function anchoColumnas($columns) {
    @return percentage(($columns/12));
}

@for $numColumna from 1 through 12 {
    .col-#{$numColumna} {
        width: anchoColumnas($numColumna);
    }
}

@function offsetWidth($margins) {
    @return percentage(($margins/12));
}

@for $offsetNumber from 1 through 12 {
    .offset-#{$offsetNumber} {
        margin-left: offsetWidth($offsetNumber);
    }
}

img.img-responsive{
	width: 100%;
}